.span{
    color: rgb(169, 196, 94);
}
.fone{
    color: rgb(169, 196, 94);
}
.input-with-placeholder::placeholder{
    color: #6c757d;
}




@media(max-width:768px){
    .form{
margin-top: 1rem;
    }
    .col{
        text-align: center!important;
    }
}
